@page "/register"

@using TodoApi.Shared.Models
@using TodoApi.Client.Services
@inject NavigationManager navigationManager
@inject IAuthService AuthService

<div class="row mx-2 mb-2 justify-content-md-center">
    <div class="col"></div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Please enter your details</h5>
                <EditForm Model="@user" OnValidSubmit="Register">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="form-group">
                        <label for="inputFirstName">Firstname</label>
                        <input type="text" class="form-control" id="inputFirstName" @bind-value="user.FirstName" placeholder="Joe">
                        <ValidationMessage For="@(() => user.FirstName)" />
                    </div>
                    <div class="form-group">
                        <label for="inputLastName">Lastname</label>
                        <input type="text" class="form-control" id="inputLasttName" @bind-value="user.LastName" placeholder="Smith">
                        <ValidationMessage For="@(() => user.LastName)" />
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        <input type="email" class="form-control" id="inputEmail" @bind-value="user.Email" placeholder="example@email.com">
                        <ValidationMessage For="@(() => user.Email)" />
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" @bind-value="user.Password" placeholder="SecretPass123.">
                        <ValidationMessage For="@(() => user.Password)" />
                    </div>
                    <div class="form-group">
                        <label for="inputConfirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="inputConfirmPassword" @bind-value="user.ConfirmPassword" placeholder="SecretPass123.">
                        <ValidationMessage For="@(() => user.ConfirmPassword)" />
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                    <button type="button" class="btn btn-secondary" @onclick="@(() => { Cancel(); })">Cancel</button>
                </EditForm>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>

@code {
    private RegisterViewModel user = new RegisterViewModel();

    private async Task Register()
    {
        var result = await AuthService.Register(user);
        navigationManager.NavigateTo("/dashboard");
    }

    private void Cancel()
    {
        navigationManager.NavigateTo("/");
    }
}